<app-header [title]="isUserFound? username?.username || 'Error': username?.username" ></app-header >
<ion-content >
  <ion-toolbar >
    <ion-grid >
      <ion-row >
        <ion-col >
          <ion-button (click)="changePage('albums')" class="expand" >Álbumes</ion-button >
        </ion-col >
        <ion-col >
          <ion-button (click)="changePage('post')" color="light" class="expand" >Publicaciones</ion-button >
        </ion-col >
      </ion-row >
    </ion-grid >
  </ion-toolbar >
  <ion-list *ngIf="username && isUserFound; else error" >
    <ion-list-header color="tertiary" >
      <ion-label >Álbumes de {{ username.name }}</ion-label >
    </ion-list-header >
    <ion-item *ngFor="let album of albums$ | async" >
      {{album.title}}
    </ion-item >
  </ion-list >
</ion-content >

<ng-template #error >
  <div class="d-f" >
    <ion-card *ngIf="isUserFound; else loadIcon" class="bgc-t" >
      <ion-card-title >{{errorMessage}}</ion-card-title >
    </ion-card >
  </div >
</ng-template >

<ng-template #loadIcon >
  <ion-card class="bgc-t scale-2" >
    <ion-spinner color="tertiary" ></ion-spinner >
  </ion-card >
</ng-template >


