<app-header [activateBack]="true" [userId]="userId" ></app-header >

<ion-content *ngIf="(userInfo$ | async) !== undefined; else loadIcon" >
  <app-page-actions [userId]="userId" ></app-page-actions >
  <ion-list >
    <ion-list-header color="tertiary" >
      <ion-label ><h2 >Publicaciones de {{(userInfo$ | async)?.name}}</h2 ></ion-label >
    </ion-list-header >
    <ion-item-group >
      <ion-item *ngFor="let post of post$ | async" >
        <ion-label >
          <h3 >{{post.title}}</h3 >
          <p >{{post.body}}</p >
        </ion-label >
        <ion-buttons [routerLink]="['/', 'post', post.id]" >
          <ion-icon name="eye" ></ion-icon >
        </ion-buttons >
      </ion-item >
    </ion-item-group >
  </ion-list >
</ion-content >

<ng-template #error >
  <div class="d-f" >
    <ion-card *ngIf="(userInfo$ | async) === undefined; else loadIcon" class="bgc-t" >
      <ion-card-title >"Usuario no encontrado"</ion-card-title >
    </ion-card >
  </div >
</ng-template >

<ng-template #loadIcon >
  <ion-card class="bgc-t scale-2" >
    <ion-spinner color="tertiary" ></ion-spinner >
  </ion-card >
</ng-template >

