<ion-header [translucent]="true" >
  <ion-toolbar color="primary" >
    <ion-buttons (click)="goBack()" *ngIf="title" class="selectable" slot="start" >
      <ion-icon name="arrow-back" ></ion-icon >
    </ion-buttons >
    <ion-title >
      {{title ?? 'Social User'}}
    </ion-title >
    <ion-buttons class="selectable" slot="end" >
      <ion-icon (click)="alterSearchView()" name="search" ></ion-icon >
    </ion-buttons >
    <app-searcher [canSearch]="canSearch" ></app-searcher >
  </ion-toolbar >
</ion-header >
